@model IEnumerable<MVC.ReservaDeCine.Models.Sala>

@{
    ViewData["Title"] = "Salas";
}

<h1>Salas</h1>

<p>
    <a asp-controller="Salas" asp-action="Create">Crear nueva sala</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacidadTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadTotal)
            </td>
            <td>
                <a asp-controller="Salas" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-controller="Salas" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-controller="Salas" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
