@model IEnumerable<MVC.ReservaDeCine.Models.Pelicula>

@{
    ViewData["Title"] = "Películas";
}

<h1>Películas</h1>

<p>
    <a asp-controller="Peliculas" asp-action="Create">Crear nueva película</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinopsis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clasificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinopsis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clasificacion.Descripcion)
            </td>
            <td>
                <a asp-controller="Peliculas" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-controller="Peliculas" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-controller="Peliculas" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
