@model IEnumerable<MVC.ReservaDeCine.Models.Clasificacion>

@{
    ViewData["Title"] = "Clasificaciones";
}

<h1>Clasificaciones</h1>

<p>
    <a asp-controller="Clasificaciones" asp-action="Create">Crear nueva clasificación</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdadMinima)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdadMinima)
            </td>
            <td>
                <a asp-controller="Clasificaciones" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-controller="Clasificaciones" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-controller="Clasificaciones" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
