@model MVC.ReservaDeCine.Models.TipoSala

@{
    ViewData["Title"] = "Detalles de tipo de sala";
}

<h1>Tipos de Sala</h1>

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioEntrada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioEntrada)
        </dd>
    </dl>
</div>

<div>
    <a asp-controller="TiposSalas" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-controller="TiposSalas" asp-action="Index">Volver a la lista</a>
</div>
